[submodule "luajit"]
	path = luajit
	url = https://github.com/fesily/luajit.git
	branch = dontstarve
[submodule "vcpkg"]
	path = vcpkg
	url = https://github.com/microsoft/vcpkg
[submodule "3rd/frida-gum-src"]
	path = 3rd/frida-gum-src
	url = https://github.com/frida/frida-gum.git
